{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<div class="w3-container w3-content w3-padding-64" style="max-width:1000px" id="dashboard">
		<div class="w3-center">
			<h1 class="w3-wide">TABLEAU DE BORD</h1>

		</div>

		<h3 class="w3-wide w3-center">Commande Active</h3>

		{% if activeCommand is not null %}
			<p>
				<b>Commande du :
					{{ activeCommand.creationDate|date('d/m/Y à G:i:s') }}</b>
			</p>
			<table class="w3-table-all">
				<tr>
					<th>Utilisateur:
						{% if activeCommand.user is not null %}
							{{ activeCommand.user.username }}
						{% else %}
							Inconnu
						{% endif %}
					</th>
					<th>Prix total:
						{% if activeCommand.totalPrice is defined %}
							{{ activeCommand.totalPrice }}€
						{% else %}
							???
						{% endif %}
					</th>
					<th>Statut:
						{{ activeCommand.status }}</th>
					<th>
						<a href=" {{ path('command_validate', {'commandId': activeCommand.id})}}">
							<button class="w3-button w3-blue-gray w3-margin-bottom">Valider Commande</button>
						</a>
					</th>
					<th>
						<a href="{{ path('command_delete', {'commandId': activeCommand.id})}}">
							<button class="w3-button w3-red w3-margin-bottom">Supprimer Commande</button>
						</a>
					</th>
				</tr>
				<tr>
					<th>Produit</th>
					<th>Quantité</th>
					<th>Prix unitaire</th>
					<th>Date d'ajout au panier</th>
					<th>Supprimer la Reservation</th>
				</tr>
				{% for reservation in activeCommand.reservations %}
					<tr>
						<th>{{ reservation.product.name }}</th>
						<th>{{ reservation.quantity }}</th>
						<th>{{ reservation.product.price }}€</th>
						<th>{{ reservation.creationDate|date('d/m/Y à G:i:s') }}</th>
						<th>
							<a href=" {{ path('reservation_delete', {'reservationId': reservation.id})}}">
								<button class="w3-button w3-red w3-margin-bottom">Supprimer</button>
							</a>
						</th>
					</tr>
				{% endfor %}
			</table>
		{% else %}
			<p>
				<b>Vous n'avez pas de commande en cours</b>
			</p>
		{% endif %}


		<h3 class="w3-wide w3-center">Commandes Précédentes</h3>
		{% for command in commands %}
			<table class="w3-table-all" style="margin-top:50px;">
				<tr>
					<th>Utilisateur:
						{% if command.user is not null %}
							{{ command.user.username }}
						{% else %}
							Inconnu
						{% endif %}
					</th>
					<th>Commande lancée le :
						{{ command.creationDate|date('d/m/Y à G:i:s') }}</th>
					<th>Statut:
						{{ command.status }}</th>
					<th>Prix total:
						{% if command.totalPrice is defined %}
							{{ command.totalPrice }}€
						{% else %}
							???
						{% endif %}
					</th>
				</tr>
				<tr>
					<th>Produit</th>
					<th>Quantité</th>
					<th>Prix unitaire</th>
					<th>Date d'ajout au panier</th>
				</tr>
				{% for reservation in command.reservations %}
					<tr>
						<th>{{ reservation.product.name }}</th>
						<th>{{ reservation.quantity }}</th>
						<th>{{ reservation.product.price }}€</th>
						<th>{{ reservation.creationDate|date('d/m/Y à G:i:s') }}</th>
					</tr>
				{% endfor %}
			</table>
		{% endfor %}


	</div>
{% endblock %}
